@keyframes fadeInAndExpand {
  from {
    opacity: 0;
    transform: scale(0.25);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes fadeInFromLeft {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(720deg);
  }
  to {
    transform: rotate(1440deg);
  }
}
.spin-animation {
  animation: spin 2s ease-in-out infinite;
}
html::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}
html::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}
html::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 10px;
}
body {
  background-color: #1e1e1e;
  margin: 0px;
  padding: 0px;
}
body input,
body h1,
body a {
  color: #5a5a5a;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}

.app-background.searching .app-background-image {
  transform: scale(1.25);
}
.app-background.searching .app-background-image-filter {
  opacity: 1;
}

.app-background-image {
  transition: transform 250ms;
}
.app-background-image-filter {
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(6px);
  opacity: 0;
  transition: opacity 250ms;
}
.search-bar-aligner {
  transition: height 250ms;
}

.search-bar-aligner.focused #search-bar-logo:after,
.search-bar-aligner.querying #search-bar-logo:after,
.search-bar-aligner.searching #search-bar-logo:after {
  background-color: rgba(255, 255, 255, 0.25);
  height: 20px;
  right: 0px;
  width: 1px;
}

.search-bar-aligner.focused .search-bar-input,
.search-bar-aligner.querying .search-bar-input,
.search-bar-aligner.searching .search-bar-input {
  width: 100%;
}

.search-bar-aligner.focused .search-bar-input::placeholder,
.search-bar-aligner.querying .search-bar-input::placeholder,
.search-bar-aligner.searching .search-bar-input::placeholder {
  color: rgba(255, 255, 255, 0.25);
}

.search-bar-aligner.searching {
  height: 100px;
}

.search-bar-wrapper {
  gap: 5px;
  margin: 10px;
  width: 500px;
}
.search-bar {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;
  gap: 10px;
  padding: 10px;
  pointer-events: all;
  width: calc(100% - 20px);
}

.search-bar-clicker {
  border-radius: 6px;
}
#search-bar-logo {
  color: white;
  flex-shrink: 0;
  font-size: 0.9em;
  padding-right: 10px;
  position: relative;
  text-align: center;
}

#search-bar-logo:after {
  background-color: white;
  border-radius: 3px;
  content: "";
  height: 3px;
  position: absolute;
  right: -2px;
  top: 50%;
  transform: translateY(-50%);
  transition: height 250ms, width 250ms, right 250ms, background-color 250ms;
  width: 3px;
}
.search-bar-input {
  font-size: 1em;
  height: 20px;
  padding: 10px 0px;
  transition: width 250ms;
  width: 54px;
}

.search-bar-input::placeholder {
  color: rgba(255, 255, 255, 0.877);
}

.search-bar-aligner .search-bar-wrapper .search-bar .search-bar-reset-button {
  border-radius: 3px;
  flex-shrink: 0;
  height: 30px;
  padding: 5px;
  width: 30px;
}

.search-bar-reset-button:hover,
.search-bar-reset-button:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.search-bar-reset-button i {
  color: white;
}

.search-bar-sass {
  gap: 5px;
  padding: 0px 10px;
  pointer-events: all;
  width: calc(100% - 20px);
}

#search-bar-sass-icon {
  align-items: center;
  display: flex;
  height: 18px;
  justify-content: center;
  width: 18px;
}

#search-bar-sass-icon.emoji.typing i {
  animation-duration: 150ms;
}

#search-bar-sass-icon.emoji i {
  animation: fadeInAndExpand 250ms ease-in;
  font-size: 1em;
}

#search-bar-sass-icon i {
  color: white;
  font-size: 0.75em;
  height: 18px;
  line-height: 18px;
  text-align: center;
  width: 18px;
}

.search-bar-sass-statement {
  animation: fadeInFromLeft 250ms ease-in;
  font-size: 1em;
  line-height: 18px;
}

.search-results-wrapper .search-results {
  display: grid;
  gap: 10px;
  grid-auto-rows: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 10px;
  padding-bottom: 50px;
}
.search-results-wrapper .search-results .search-result {
  background-color: #1e1e1e;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  transform: translateY(20px);
  transition: opacity 250ms, transform 250ms;
}
.search-results-wrapper .search-results .search-result.visible {
  opacity: 1;
  transform: translateY(0px);
}

.search-result.loaded:hover .search-result-background {
  opacity: 1;
  transform: scale(1.1);
}

.search-result.loaded .search-result-background {
  filter: blur(0px);
  transform: scale(1);
}

.search-result.loaded .search-result-info-wrapper {
  display: flex;
}

.search-result-background {
  border-radius: 10px;
  filter: blur(3px);
  transform: scale(1.25);
  transition: opacity 250ms, transform 250ms, backgroundImage 250ms,
    filter 250ms;
}

.search-result-info-wrapper {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), transparent);
  border-radius: 10px;
}

.search-result-info {
  width: calc(100% - 20px);
}

.search-result-creator {
  border-radius: 3px;
  font-size: 0.9em;
  padding: 5px 10px;
  pointer-events: all;
  text-decoration: none;
}

.search-result-creator:hover {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 1000px) {
  .search-results-wrapper .search-results {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}
@media (max-width: 800px) {
  .search-results-wrapper .search-results {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
@media (max-width: 500px) {
  .search-results-wrapper .search-results {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
